<!-- templates/registration/password_reset_confirm.html -->

{% extends "base/base_page.html" %}


<!-- title -->
{% block title %}Enter A New Password{% endblock %}

<!-- content -->
{% block content %}

  {% if validlink %}

  <h1>set a new password:</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
  </form>
  
  {% else %} <!-- validlink --> 
  <p>Password reset link has expired, or was used. Please request a new password reset.</p>
  {% endif %} <!-- validlink -->

{% endblock %} <!-- content -->
